<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d05f99dbac.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/style.css">
        <script src="jquery-3.5.1.min.js"></script>
        <link rel="icon" href="public/favicon.ico" sizes="any">
        <title>Jungle</title>
        <script> 
            $(function(){
                $('.dropdown').hover(function() {
                    $(this).addClass('open');
                },
                function() {
                    $(this).removeClass('open');
                });
            });
        
        </script>

    </head>
    <body>
       
        <section class="new-arrival">
        
        <div class="arrival-heading">
            <strong>Products</strong>
            <p>Clean Green, and Free Delivery on Orders over $25</p>
        </div>

            <div class="product-container" ng-controller="homeCtrl">    
            <a href="#!/shop/apple">
            <div class="product-box" id="apple">
                
                <div class="product-img">

                <img src="public/images/apple.png">
                </div>
                <div class="product-details">
                    <a href="#!shop/apple" class="p-name">Shop Apple Products</a>         
                </div>
            </div>
            </a>
            
            <a href="#!/shop/samsung">
            <div class="product-box" id="samsung">
            
                <div class="product-img">
            
                    <img src="public/images/samsung.jpg">
                </div>
                
                <div class="product-details">
                    <a href="#!shop/samsung" class="p-name">Shop Samsung Products</a>
                
                </div>
            </div>
            </a>

            <a href="#!/shop/accessories">
            <div class="product-box" id="accessories">
        
            <div class="product-img">
        
                <img src="public/images/phone_access.jpg">
            </div>
        
            <div class="product-details">
                <a href="#!shop/accessories" class="p-name">Shop All Accessories</a>
            
            </div>
            </div>
            </a>

            <!-- <a href="#!/shop/phones">
            <div class="product-box" id="phones">    
            <div class="product-img">

                <img src="public/images/allphones.jpg">
            </div>

            <div class="product-details">
                <a href="#" class="p-name">Shop Phones</a>
        
            </div>
            </div>
            </a> -->


            <a href="#!/shop/all">
            <div class="product-box" id="all">      
                <div class="product-img">
                    <img src="public/images/shopall.png">
                </div>
                <div class="product-details">
                    <a href="!#shop/all" class="p-name">Shop All</a>
             
                </div>
            </div>
            </a>
            


            </div>
        </section>

    </body>

</html>

<script src="/js/index.js" type="module"></script>